/*

----- Portfolio Page -----

Author: Alex Perez
Last Updated: 10 September,2020
File name: styles.css

*/

/* ---------------- BASE STYLES ------------------------ */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

p {
  margin-bottom: 1.25em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

/* ---------------- NAVIGATION ------------------------ */
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 5rem;
  background: #eaeaea;
}

nav ul {
  text-align: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2em;
  text-align: right;
}


/* ---------------- HERO SECTION ---------------------- */
.main-hero {
  background-color: #cdd8fa;
  height: 65vh;
  width: 100%;
}
.hero-title {
  margin:0;
}
/* ---------------- ABOUT ME -------------------------- */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 50vh;
}
.about-photo {
  background-image: url(IMG_7732.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* ---------------- SKILLS ---------------------------- */
.skills-section-title {
  width: 100%;
  background-color: #a7b6e1;
  padding: 2rem 0;
  text-align: center;
}
.skills-section-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* ---------------- MY WORK --------------------------- */
/* ---------------- CONTACT --------------------------- */
