/*

----- Portfolio Page -----

Author: Alex Perez
Last Updated: 10 September,2020
File name: styles.css

Colors: Dark Blue (#1B264F) Blue (#274690) light blue (#576CA8) dark grey (#302B27) Light Grey (#F5F3F5)
*/

/* ---------------- BASE STYLES ------------------------ */
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

p {
  margin-bottom: 1.25em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 1px;
  color: #274690;
  margin:0;
}

h3 {
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: 1px;
  color: #274690;
  margin:0;
}
.content{
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}
/* ---------------- NAVIGATION ------------------------ */
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 5rem;
  background: #302B27;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f5f3f5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2em;
  text-align: right;
}

nav ul li a {
  color: #f5f3f5;
  cursor: pointer;
}

nav h3 {
  margin: 0;
  padding: 0;
  color: #f5f3f5;
}

.my-name {
  font-size: 25px;
}

.my-name span {
  color: #8D9FE0;
}
/* ---------------- HERO SECTION ---------------------- */

/*  background: linear-gradient(127deg,rgba(255,255,255,.8),rgba(255,255,255,.5)), url(main-hero-image.png);*/
.main-hero {
  background: linear-gradient(to right top, rgb(209 107 165 / 85%), rgb(199 119 185 / 85%), rgb(186 131 202 / 85%), rgb(170 143 216 / 85%), rgb(154 154 225 / 85%), rgb(138 167 236 / 85%), rgb(121 179 244 / 85%), rgb(105 191 248 / 85%), rgb(82 207 254 / 85%), rgb(65 223 255 / 85%), rgb(70 238 250 / 85%), rgb(95 251 241 / 85%));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  position: relative;
}

.hero-title {
  margin: 0;
  padding-top: 15em;
  padding-left: 50px;
  position: absolute;
  bottom: 50px;
  color: #fff;
  text-align: left;
  font-size: 55px;
}

/* ---------------- ABOUT ME -------------------------- */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-content {
  padding: 4em 3em 1em 3em;
}

.about-content h3 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-content p {
  padding: 0;
  font-size: 1.5em;
}

.about-styled {
  border-left: 3px solid #274690;
  padding-left: 15px;
}

.about-photo {
  background-image: url(lake.JPEG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------------- SKILLS ---------------------------- */
.skills-section-title {
  width: 100%;
  background-color: #F5F3F5;
  padding: 2rem 0;
  text-align: center;
}

.skills-section-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
  text-align: center;
}

.skills-section-content img {
  margin: 0 auto;
  padding: 2.5em 2.5em .5em 2.5em;
}

/* ---------------- MY WORK --------------------------- */
.work-section h2 {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #F5F3F5;
}

.work-section-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 50px 80px 50px 80px;
}

.banner-content {
  padding: 1em;
  margin: 1em;
  border-left: 3px solid #274690;
  padding-left: 15px;
}

.banner-content ul {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 15px;
}

.banner-content ul li {
  margin-bottom: 10px;
}

.banner-photo {
  margin: 0 auto;

}

/* ---------------- CONTACT --------------------------- */
.Contact-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #576CA8;
  color: #F5F3F5;
  padding: 5em;
  height: 30vh;
}

.Contact-section h2,
.Contact-section a,
.Contact-section p {
  color: #F5F3F5;
}

.Contact-section-social ul {
  list-style-type: none;
  margin: 0;
  text-align: left;
  display: block;
}

.Contact-section-social ul li {
  display: inline-block;
  margin-right: 2em;
}

.Contact-section-image {
  background-image: url(AlexP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Contact-section-content {
  padding-left: 2em;
  width: 70%;
}

/* ---------------- FOOTER ---------------------------- */
footer {
  text-align: center;
  background-color: #eaeaea;
  margin: 0;
  padding: 1em 0;
}

footer p {
  margin: 0;
  padding: 0;
}

/* ---------------- TABLET STYLES ------------------ */

@media (max-width: 768px) {

/* navegation styles */
  nav {
    display: block;
    padding: 30px;
    width: auto;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 20px;
  }

  /* hero styles */
  .main-hero {
    height: 55vh;
  }
  .hero-title {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 40px;
  }

  /* about me styles */
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .about-content {
    padding: 50px 50px 0 50px;
  }

  .about-content h3 {
    font-size: 30px;
  }

  .about-styled {
    border: none;
    padding: 0;
  }
  /* skills styles */

  .skills-section-title {
    padding: 25px;
    width:auto;
  }

  .skills-section-content {
    padding: 55px;
  }

  .skills-section-content img {
    margin: 0 auto;
    padding: 20px;
  }
  /* my work styles */
  .work-section h2 {
    padding: 25px;
    width: auto;
  }

  .work-section-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
  }

  .banner-content {
    padding: 20px;
    margin: 15px;
    border: none;
  }

  .banner-content ul {
    padding-left: 0;
  }

  .banner-content ul li {
    margin-bottom: 10px;
  }

  .banner-photo {
    margin: 0 auto;
  }
  .banner-photo img {
    width: 250px;
  }
  /*  contact styles  */
  .Contact-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(2, 1fr);
    padding: 20px;
    height: auto;
  }

  .Contact-section-social ul {
    padding-top: 30px;
    text-align: center;
  }

  .Contact-section-social ul li {
    display: inline-block;
    margin-right: 2em;
  }

  .Contact-section-content {
    padding: 50px;
    width: auto;
    text-align: center;
  }


}
